<%- include('_header', { title: document.title }) %>
<h1><%= document.title %></h1>
<% document.sections.forEach(section => { %>
<section>
  <h2><% section.title %></h2>
  <% section.body.forEach(para => { %>
  <p><%= para %></p>
  <% }) %>
</section>

<% }) %>

<footer>
    <a href="/?q=<%= query %>">Back</a>
</footer>

<%- include('_footer') %>
